<div class='row' id='title-row'>
	<div class='col-md-2'>
		&nbsp;
	</div>
	<div class='col-md-8' id='top-logo'>
		<%= link_to image_tag("logo_horizontal.png", style: "width: 100%; max-width: 405px;"), ingredients_path %>
	</div>
	
	<div class='col-md-12 hidden-md hidden-lg' id='phone-spacer'>
		&nbsp;
	</div>
	
	<div class='col-md-2' id='sign-up'>
		<a href="#" class='btn btn-lg btn-success' id='btn-sign-up'>Sign Up</a>
	</div>	
</div>

<div class='row' id='signup-row'>
  <div class="col-md-4 col-md-offset-4">
	<div id='launching-soon'>We'll let you know when we launch!</div>
    <div class="input-group">
      <input type="text" class="form-control" id='email-sign-up' placeholder="Email">
      <span class="input-group-btn">
        <button class="btn btn-default btn-success" id='button-sign-up' type="button">Let me know</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class='alert alert-success' id='sign-up-success'>Thanks! We'll keep you updated.</div>

<div class='row class="carousel slide' data-ride="carousel" id='example-row'>
	
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

  <div class="carousel-inner">
	<%= render partial: 'ingredients' %>	
  </div>

</div>

<div class='row' id='screenshot-row'>
	<div class='col-md-4 screenshot-column'>
		<div class='top-label'>
			Snap a photo.
			<div class='subtitle'>
				Take a picture of any ingredient label.<br/>&nbsp;		
			</div>
		</div>
		<div class='screenshot'>
			<%= image_tag "screenshot-photo.png", height: 300 %>
		</div>

	</div>
	<div class='col-md-4 screenshot-column'>
		<div class='top-label'>
			See what's inside.
			<div class='subtitle'>
				<% if @test_danger %>
					We show you the hazards of<br/>each ingredient.
				<% else %>
					We show you easy-to-understand<br/>definitions of each ingredient.				
				<% end %>

			</div>			
		</div>
		<div class='screenshot'>
			<%= image_tag "screenshot-results.png", height: 300 %>
		</div>
	</div>
	
	<div class='col-md-4 screenshot-column'>
		<div class='top-label'>
			Know your food.
			<div class='subtitle'>
				<% if @test_danger %>
					Avoid foods that are unsafe.<br/>&nbsp;
				<% else %>
					Feel confident in the food<br/>you're eating.
				<% end %>
				
			</div>
		</div>					
		<div class='screenshot'>
			<%= image_tag "screenshot-ingredient.png", height: 300 %>
		</div>
	</div>	
</div>