<% content_for :title do %><%= @featured_ingredient %><% end %>

<% content_for :head do %>
	<meta name="description" content="<%= @featured_ingredient.description %>" />
	<meta property="og:title" content="<%= @featured_ingredient.name %>" />
	<meta property="og:description" content="<%= @featured_ingredient.description %>" />
	<meta property="og:url" content="http://digestable.co/<%=u @featured_ingredient.name %>" />
	<meta property="og:image" content="http://digestable.co/assets/og_preview_wide.png" />
<% end %>

<div class='row' id='ingredients'>
	<div class='col-md-3 visible-md visible-lg' id='ingredient-list'>
		<ul>
		<% Ingredient.visible.order("name ASC").each do |i| %>
			<li>
				<%= link_to i.name, i.path, 
					class: 'list-ingredient', 
					data_id: i.id, data_path: i.path %>
			</li>
		<% end %>
		</ul>
	</div>
	
	<div class='col-md-9 col-sm-12' id='ingredients-search-container'>
		<div class='row'>
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='logo-container'>
				<div id='logo'>
					<%= image_tag "ingredient_logo.png", id: 'logo-img' %>
				</div>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='search-bar-container'>
					<%= text_field_tag :something, nil, 
						class: 'form-control search-bar', 
						placeholder: "Search for ingredient" %>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='search-results'>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='ingredient'>
				<%= render partial: "ingredient", 
					locals: {ingredient: @featured_ingredient}%>
			</div>			
		</div>

		<div id='app-footer' class='row'>			
			<div class='col-md-10 col-sm-9 col-xs-12 clearfix'>
				<p>
					Take a picture of an ingredient label, see what's inside your food.
				</p>
			</div>
			<div class='col-md-2 col-sm-3 col-xs-12 learn-more'>
				<a href="https://itunes.apple.com/us/app/digestable/id807322213?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>				
			</div>

			<button id='app-footer-dismiss' type="button" class="close visible-xs" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>

	</div>
</div>